<div class="tabs__group border-bottom-1 block" style="border-color: #efefef">
  <div class="tabs__list" role="tablist" #tabsList>
    <!-- Tabs list -->
    @for(primaryTab of items; track $index){
    <div
      data-tab-section="tabs-items"
      class="tabs__item"
      [class.tabs__item--disabled]="primaryTab.isDisabled()"
    >
      <p-button
        type="button"
        class="tabs__link"
        (click)="setActiveIndex($index)"
        [disabled]="primaryTab.isDisabled()"
        [attr.aria-label]="primaryTab.title()"
        [attr.aria-selected]="primaryTab.isActive()"
        [class.tabs__link--active]="activeIndex() === $index"
        [class.tabs__link--disabled]="primaryTab.isDisabled()"
        [attr.data-tab-title]="primaryTab.title()"
        role="tab"
      >
        {{ primaryTab.title() }}
      </p-button>
    </div>
    }
    <div class="tabs__item-more" [class.tabs__item--hidden]="moreIsVisible()">
      <!-- Button more -->
      <div
        role="tab"
        class="tabs__link"
        [attr.aria-label]="'More'"
        [attr.aria-selected]="activeIndexIsHidden()"
        [class.tabs__link--active]="activeIndexIsHidden()"
        #toggle
      >
        <div>
          <p-menu appendTo="body" #menu [model]="itemsMenu()" [popup]="true" />
          <p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tabs__wrapper">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium
  excepturi repudiandae illum asperiores doloremque consequuntur, corporis dolor
  aperiam ea facilis numquam ipsa, temporibus commodi inventore explicabo sunt
  adipisci? Exercitationem, repellendus! Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Iusto necessitatibus ad nihil deserunt eligendi odit porro
  voluptates magni adipisci, maxime impedit dolorum culpa, ipsam tempora
  deleniti ex repellendus rem tenetur. Lorem ipsum, dolor sit amet consectetur
  adipisicing elit. Praesentium excepturi repudiandae illum asperiores
  doloremque consequuntur, corporis dolor aperiam ea facilis numquam ipsa,
  temporibus commodi inventore explicabo sunt adipisci? Exercitationem,
  repellendus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
  necessitatibus ad nihil deserunt eligendi odit porro voluptates magni
  adipisci, maxime impedit dolorum culpa, ipsam tempora deleniti ex repellendus
  rem tenetur.Lorem ipsum, dolor sit amet consectetur adipisicing elit.
  Praesentium excepturi repudiandae illum asperiores doloremque consequuntur,
  corporis dolor aperiam ea facilis numquam ipsa, temporibus commodi inventore
  explicabo sunt adipisci? Exercitationem, repellendus! Lorem ipsum dolor sit
  amet consectetur adipisicing elit. Iusto necessitatibus ad nihil deserunt
  eligendi odit porro voluptates magni adipisci, maxime impedit dolorum culpa,
  ipsam tempora deleniti ex repellendus rem tenetur.Lorem ipsum, dolor sit amet
  consectetur adipisicing elit. Praesentium excepturi repudiandae illum
  asperiores doloremque consequuntur, corporis dolor aperiam ea facilis numquam
  ipsa, temporibus commodi inventore explicabo sunt adipisci? Exercitationem,
  repellendus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
  necessitatibus ad nihil deserunt eligendi odit porro voluptates magni
  adipisci, maxime impedit dolorum culpa, ipsam tempora deleniti ex repellendus
  rem tenetur.Lorem ipsum, dolor sit amet consectetur adipisicing elit.
  Praesentium excepturi repudiandae illum asperiores doloremque consequuntur,
  corporis dolor aperiam ea facilis numquam ipsa, temporibus commodi inventore
  explicabo sunt adipisci? Exercitationem, repellendus! Lorem ipsum dolor sit
  amet consectetur adipisicing elit. Iusto necessitatibus ad nihil deserunt
  eligendi odit porro voluptates magni adipisci, maxime impedit dolorum culpa,
  ipsam tempora deleniti ex repellendus rem tenetur.

  <ng-content></ng-content>
</div>
