<div class="tabs__group overflow-hidden max-w-full border-bottom-1 block">
  <div
    class="relative p-0 m-0 flex gap-5 w-auto list-none justify-content-start"
    role="tablist"
    #tabsList
  >
    <!-- Tabs list -->
    @for(tab of items; track $index){ @if(!tab.isHidden()){
    <div data-tab-section="tabs-items" class="relative">
      <p-button
        type="button"
        class="tabs__link white-space-nowrap"
        (click)="setActiveIndex(tab.title())"
        [disabled]="tab.isDisabled()"
        [attr.aria-label]="tab.title()"
        [attr.aria-selected]="tab.isActive()"
        [class.tabs__link--active]="activeIndex() === tab.title()"
        [class.tabs__link--disabled]="tab.isDisabled()"
        [attr.data-tab-title]="tab.title()"
        [attr.data-tab-disabled]="tab.disabled()"
        role="tab"
        [id]="tab.title()"
      >
        {{ tab.title() }}
      </p-button>
    </div>
    } }

    <!-- Button more -->
    <div
      class="relative justify-content-center align-items-center"
      [class.hidden]="moreIsVisible()"
      [class.flex]="!moreIsVisible()"
    >
      <div
        role="tab"
        class="tabs__link"
        [attr.aria-label]="'More tabs'"
        [attr.aria-selected]="activeIndexIsHidden()"
        [class.tabs__link--active]="activeIndexIsHidden()"
        #toggle
      >
        <div>
          <p-menu appendTo="body" #menu [model]="itemsMenu()" [popup]="true">
            <ng-template pTemplate="item" let-item>
              <a
                [class.border-green-700]="item.state.active"
                [class.bg-gray-100]="item.state.active"
                [class.border-white]="!item.state.active"
                class="border-left-2 hover:border-green-700 flex align-items-center p-menuitem-link"
              >
                <span class="ml-2">{{ item.label }}</span>
              </a>
            </ng-template>
          </p-menu>
          <p-button
            ariaLabel="More tabs"
            (onClick)="menu.toggle($event)"
            icon="pi pi-ellipsis-v"
          />
        </div>
      </div>
    </div>
  </div>
</div>
