$color-primary: var(--color-primary);
$neutral-border: var(--neutral-border);
$color-primary-hover: var(--color-primary-hover);
$color-disabled: var(--color-disabled);

:host ::ng-deep {
  .p-disabled {
    .p-button {
      color: $color-disabled;
    }
  }

  .p-button {
    background: transparent;
    color: $color-primary;
    font-weight: 600;
    border: transparent;

    &:hover {
      background: $color-primary-hover;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.tabs {
  &__group {
    border-color: $neutral-border;
  }

  &__link {
    &::before {
      content: "";
      border-radius: 0.75rem;
      position: absolute;
      inset: 0 -1rem;
      border: 0.2rem solid transparent;
      pointer-events: none;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: $color-primary;
      width: 0;
      height: 0.2rem;
      transition: all 0.25s ease;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }

    &--active {
      color: $color-primary;

      &::after {
        width: 100%;
      }
    }

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      color: $color-primary;
    }
  }
}
